.direction-button {
	padding: 2px;
	width: 45px;
	height: 45px;
	margin: 0 0.25rem;
}

@media (prefers-color-scheme: dark) {
	.direction-button>svg>path {
		stroke: white;
	}
}

.direction-button>svg {
	height: 100%;
	width: 100%;
}

.direction-button>svg>path {
	stroke-width: 1px;
}

.direction-button:enabled:active>svg>path {
	stroke-width: 2px;
}

.direction-button:enabled {
	opacity: 1;
	transition: opacity 0.25s;
}

.direction-button:disabled {
	opacity: 0.5;
	cursor: default;
	border: none;
	transition: opacity 0.25s;
}

.direction-button:disabled>svg>path {
	stroke: grey;
}