.grid-container {
	--grid-size: 500px;
	--border-width: 7.5px;
	--background-color: #bbada0;
	--font-size: 3rem;
	--animation-delay: 0.1s;
	--animation-duration: 0.1s;
	width: var(--grid-size);
	height: var(--grid-size);
	position: relative;
	background-color: var(--background-color);
	border: var(--border-width) solid transparent;
	border-radius: 6px;
	box-sizing: border-box;
}

.grid {
	width: 100%;
	height: 100%;
	position: absolute;
}

.cell-container {
	width: 25%;
	height: 25%;
	position: absolute;
	border: var(--border-width) solid transparent;
	box-sizing: border-box;
	border-radius: 6px;
}

.cell {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size);
	border-radius: 3px;
}

.cell-background {
	width: 100%;
	height: 100%;
	background-color: rgba(238, 228, 218, 0.35);
	border-radius: 3px;
}

.cell-moved {
	animation: var(--animation-delay) moveCell 0s ease-in-out forwards;
}

@keyframes moveCell {
	100% {
		transform: translate(0, 0);
	}
}

.cell-current {
	visibility: hidden;
	animation: showCell var(--animation-delay) ease-in-out forwards;
}

@keyframes showCell {
	100% {
		visibility: visible;
	}
}

.cell-merged {
	visibility: hidden;
	animation: var(--animation-duration) mergeCell var(--animation-delay) ease-in-out forwards;
}

@keyframes mergeCell {
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		visibility: visible;
	}
}

.cell-new {
	transform: scale(0);
	animation: var(--animation-duration) newCell var(--animation-delay) ease-in-out forwards;
}

@keyframes newCell {
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}


.cell-2 {
	background-color: #eee4da
}

.cell-4 {
	background-color: #eee1c9;
}

.cell-8 {
	background-color: #f3b27a;
}

.cell-16 {
	background-color: #f69664;
	color: #ffffff;
}

.cell-32 {
	background-color: #f77c5f;
	color: #ffffff;
}

.cell-64 {
	background-color: #f75f3b;
	color: #ffffff;
}

.cell-128 {
	background-color: #edd073;
	color: #ffffff;
}

.cell-256 {
	background-color: #edcc62;
	color: #ffffff;
}

.cell-512 {
	background-color: #edc950;
	color: #ffffff;
}

.cell-1024 {
	background-color: #edc53f;
	color: #ffffff;
}

.cell-2048 {
	background-color: #edc22e;
	color: #ffffff;
}