.grid {
	display: grid;
	grid-template-columns: repeat(4, 4fr);
	outline: 1.5px solid black;
}

.cell-container {
	width: 80px;
	height: 80px;
	font-size: x-large;
	outline: solid 1px black;
}

.cell {
	width: 100%;
	height: 100%;
	outline: solid 1px black;
	--cell-appear-duration: 5s;
	--cell-merge-duration: 20s;
	--cell-slide-duration: 20s;
	--cell-appear-delay: 0s;
	--cell-merge-delay: 0s;
	--cell-slide-delay: 0s;
}

.cell>.cell-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-appear {
	transform: scale(0);
	animation: var(--cell-appear-duration) cellAppear var(--cell-appear-delay) ease-in-out forwards;
}

@keyframes cellAppear {
	100% {
		transform: scale(1);
	}
}

.cell-merged  {
	animation: var(--cell-merge-duration) cellMerged var(--cell-merge-delay) ease-in-out;
}

@keyframes cellMerged {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

.cell-moved {
	animation: var(--cell-slide-duration) slideCell var(--cell-slide-delay) ease-out forwards;
}

@keyframes slideCell {
	100% {
		transform: translate(0, 0);
	}
}

.cell-2 {
	background-color: #eee4da
}

.cell-4 {
	background-color: #eee1c9;
}

.cell-8 {
	background-color: #f3b27a;
}

.cell-16 {
	background-color: #f69664;
	color: #ffffff;
}

.cell-32 {
	background-color: #f77c5f;
	color: #ffffff;
}

.cell-64 {
	background-color: #f75f3b;
	color: #ffffff;
}

.cell-128 {
	background-color: #edd073;
	color: #ffffff;
}

.cell-256 {
	background-color: #edcc62;
	color: #ffffff;
}

.cell-512 {
	background-color: #edc950;
	color: #ffffff;
}

.cell-1024 {
	background-color: #edc53f;
	color: #ffffff;
}

.cell-2048 {
	background-color: #edc22e;
	color: #ffffff;
}