.grid-container {
	--grid-size: 470px;
	--border-width: 7.5px;
	--background-color: #bbada0;
	--animation-delay: 0.1s;
	--animation-duration: 0.1s;
	width: var(--grid-size);
	height: var(--grid-size);
	position: relative;
	background-color: var(--background-color);
	border: var(--border-width) solid transparent;
	border-radius: 6px;
	box-sizing: border-box;
	--font-size-1: 55px;
	--font-size-2: 45px;
	--font-size-3: 35px;
	--font-size-4: 30px;
}

@media screen and (max-width: 480px) {
	.grid-container {
		--grid-size: calc(100vw - 4rem);
		--font-size-1: 35px;
		--font-size-2: 25px;
		--font-size-3: 15px;
		--font-size-4: 10px;
	}
}

.grid {
	width: 100%;
	height: 100%;
	position: absolute;
}

.cell-container {
	width: 25%;
	height: 25%;
	position: absolute;
	border: var(--border-width) solid transparent;
	box-sizing: border-box;
	border-radius: 6px;
}

.cell {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	overflow: hidden;
}

.cell-background {
	width: 100%;
	height: 100%;
	background-color: rgba(238, 228, 218, 0.35);
	border-radius: 3px;
}

.cell-moved {
	animation: var(--animation-delay) moveCell 0s ease-in-out forwards;
}

@keyframes moveCell {
	100% {
		transform: translate(0, 0);
	}
}

.cell-current {
	visibility: hidden;
	animation: showCell var(--animation-delay) ease-in-out forwards;
}

@keyframes showCell {
	100% {
		visibility: visible;
	}
}

.cell-merged {
	visibility: hidden;
	animation: var(--animation-duration) mergeCell var(--animation-delay) ease-in-out forwards;
}

@keyframes mergeCell {
	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
		visibility: visible;
	}
}

.cell-new {
	transform: scale(0);
	animation: var(--animation-duration) newCell var(--animation-delay) ease-in-out forwards;
}

@keyframes newCell {
	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


.cell-2 {
	background-color: #eee4da;
	color: #776e65;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
  font-size: var(--font-size-1);
}

.cell-4 {
	background-color: #eee1c9;
	color: #776e65;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
  font-size: var(--font-size-1);
}

.cell-8 {
	background-color: #f3b27a;
  color: #f9f6f2;
  font-size: var(--font-size-1);
}

.cell-16 {
	background-color: #f69664;
	color: #f9f6f2;
  font-size: var(--font-size-1);
}

.cell-32 {
	background-color: #f77c5f;
	color: #f9f6f2;
  font-size: var(--font-size-1);
}

.cell-64 {
	background-color: #f75f3b;
	color: #f9f6f2;
  font-size: var(--font-size-1);
}

.cell-128 {
	background-color: #edd073;
	color: #f9f6f2;
  font-size: var(--font-size-2);
}

.cell-256 {
	background-color: #edcc62;
	color: #f9f6f2;
  font-size: var(--font-size-2);
}

.cell-512 {
	background-color: #edc950;
	color: #f9f6f2;
  font-size: var(--font-size-2);
}

.cell-1024 {
	background-color: #edc53f;
	color: #f9f6f2;
  font-size: var(--font-size-3);
}

.cell-2048 {
	background-color: #edc22e;
	color: #f9f6f2;
  font-size: var(--font-size-3);
}

.cell-super {
	background-color: #3c3a33;
	color: #f9f6f2;
  font-size: var(--font-size-4);
}